@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/swagger">
        https://localhost:44359/swagger
    </a>


    <br />
    <p>این ادرس رو که ران بگیریم باید جیسانشو نشونمون بده</p>
    <p>اگه نشون نده خطای که به وجود اومده رو نشون میده که چرا نمیتونه جیسانشو بسازه</p>
    <p>https://localhost:44359/swagger/v1/swagger.json</p>


    <br />
    <hr />
    نمونه:
    <br />
    https://github.com/heldersepu/Swagger-Net-Test/blob/master/Swagger_Test/App_Start/SwaggerConfig.cs#L150

</div>
